.pdf{
    width:800px;
    border:solid 1px black;
    margin:0 auto;
    padding:20px;
}

.title {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    background-color: #0077c1;
}

.justification {
    margin-bottom: 2px;
}
